.app-root {
  .drawer-container {
    height: 100vh;
    overflow-y: auto;

    .mat-toolbar {
      justify-content: end;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

      .username {
        font-size: 18px;
      }

      .mat-icon {
        font-size: 26px;
        color: rgb(157, 157, 157);
        vertical-align: text-top;
        margin-right: 10px;
      }

      .vertical-devider {
        height: 30px;
        color: rgb(157, 157, 157);
        margin: auto 30px;
      }
    }

    .main-content {
      padding: 50px 30px;

      .title {
        font-size: 32px;
        font-weight: bold;
      }
    }

    .drawer-content {
      background-color: rgb(41, 71, 118);
      width: 15.45%;
      min-width: 220px;

      .logo {
        background-color: rgb(29, 78, 127);
        font-size: 32px;
        cursor: pointer;
        text-align: center;
        color: white;
        font-weight: 500;
        letter-spacing: 10px;
        padding: 80px 0px;
      }

      .navbar {
        margin-top: 20px;

        .nav-item {
          font-size: 20px;
          font-weight: 500;
          width: 80%;
          margin: auto;

          .mat-icon {
            font-size: 26px;
            color: white;
            vertical-align: text-bottom;
            margin-right: 10px;
          }

          &:hover {
            border-radius: 10px;
            background-color: rgb(53, 97, 166);
          }
        }
      }
    }
  }
}
